{% extends 'base.html' %}
{% block content %}
<h1>All Products Are Listed Here</h1>
{% for product in products.all %}
<div class="row pt-3">
    <div class="col-2">
        <img src="{{ product.image.url }} " class="img-fluid">
    </div>
    <div class="col-6">
        <h1>Product id :{{ product.id }}</h1>
        <h4>Product title: {{ product.title }}</h1>
        <p>product description : {{ product.summary }}</p>
    </div>
     
    <div>
        <h1>Comment</h1>
        {% for comment in comments.all %}
        {% if  comment.post.id  ==   product.id  %}
        <h3><strong>{{ comment.name }}</strong></h3>
        <p>{{ comment.body }}</p>
        <p><small>{{ comment.date_added }}</small></p>
        {% endif %}
        {% endfor %}
        <p><a class="btn btn-primary" href="{% url 'add-comment' product.id  %}">Add Comment</a></p>
        <hr> 
    </div>
</div>
{% endfor %}
{% endblock content %}